/*  
*  Colors:
*  green light: #cccc31  rgb 204 219 49
*  green dark: #8bc540 8cc541
*  violet dark: #6654a3
*  ----------
*  red: #eb2a4a
*  dark blue: #18334e
*  black blue: #323645
*  light blue: #75c5d5
*  light blue transparent background: rgba(0, 136, 204, 0.5) 0088cc
*  
*  Fonts: 
*  font-family: 'Poppins', sans-serif;
*/

* {
  margin: 0;
  padding: 0; }
body {
  font-family: 'Open Sans', Arial, Helvetica, sans-serif;
  width: 100%;
  margin: 0;
  padding: 65px 0 0 0; 
  background-image: url(../images/pattern430.png);
  font-size: 16px; }
.clear {
    clear: both; }

/**********  HEADER **********/
header {
  background: #fff;
  height: 85px;
  position: fixed;
  top: 0;
  -ms-transition:     all 0.3s ease-out;
  -moz-transition:    all 0.3s ease-out;
  -webkit-transition: all 0.3s ease-out;
  -o-transition:      all 0.3s ease-out;
  transition:         all 0.3s ease-out;
  width: 100%;
  z-index: 1000; }
.nav-up {
  top: -85px; }
/********** HEADER - TOP CONTACTS BAR **********/
#top-contacts-bar {
  height: 65px;
  background-color: #ededed;
  color: #eb2a4a;
  display: none; }
.top-contacts-bar-item {
  width: 250px;
  height: auto;
  float: right; }
  #language {
  width: 150px;
  margin-left: 20px; }  
#language img {
  margin: 15px 20px 0 0;
  width: 40px;
}
.top-contacts-bar-item .icon-block {
  margin-top:15px;
  width: 55px;
  float: left; }    
.top-contacts-bar-item .contact-info {
   float: left; }
.top-contacts-bar-item .contact_info p {
  font-size: 14px;
  color: #333;
  font-weight: 400; 
  margin-top: 15px;}
.top-contacts-bar-item .contact_info span {
  font-weight: 700; }
.top-contacts-bar-item a {
  text-decoration: none;
  color:#eb2a4a; } 
/********** HEADER - LOGO ************/
#logo {
  width: 200px;
  height: 80px;
  float: left;
  margin-left: 20px;
  text-align: center; }
#logo a img {
  width: 200px;
  height: auto;
  margin-top: 10px; }
/********** HEADER - MAIN NAVIGATION ************/
#main_header nav {
  background-color: white;
  margin-top: 16px;
  width: 100%;
  clear: both; }
#main_header ul {
  padding: 0; }
#main_header nav li {
  height: 60px;
  text-align: center;
  list-style: none; }
#main_header nav li a {
  line-height: 60px; 
  text-decoration: none;
  color: #8cc541;
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  text-transform: uppercase;
  font-size: 14px;
  letter-spacing: 1px; }
#main_header nav li:hover a{
    color: #eb2a4a; }
#main_header #menu_collapsed {
  margin: 33px 20px 10px 20px;
  width: 30px;
  height: 24px;
  float: right;
  display: block; }
#main_header .menu-line {
  width: 100%;
  height: 2px;
  background-color: #cccc31;
  margin-bottom: 6px; }
#main_header .active { display: none; }

/********** SLIDER ************/
#slider {
  height: 520px;
  position: relative;
  margin-top: 0;
  margin-bottom: 0; }
  #slider #img1, #slider #img2, #slider #img3, #slider #img4 {
  height: 100%;
  width: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  overflow: hidden; }
.slide .content {
  background-color: rgba(256, 256, 256, 0.5);
  font-family: 'Poppins', sans-serif;
  padding: 20px 30px;
  width: 300px;
  height: 300px;
  margin-top: 120px;
  z-index: 10; 
  animation-name: slidercontent;
  animation-duration: 1s;}
  .slide .content h1 {
    color: white;
    font-size: 40px;
    padding-right: 30px;
    font-weight: 900;
    text-shadow: -1px -1px 1px rgba(0, 0, 0, 0.3), 1px 1px 1px rgba(0, 0, 0, 0.3), 0 0 10px #000; 
    animation-name: slidertext;
    animation-duration: 3s;
    opacity: 0.7;}
  .slide .content button {
    margin-top: 20px;
    width: 250px;
    height: 50px;
    background-color: #dd2333;
    border: none;
    font-size: 18px;
    color: white; }
  .slide .content button:hover {
    background-color: #359fe4;
    color: white; }
@keyframes slidertext {
    from {opacity: 0}
    to { opacity: 1}
}
@keyframes slidercontent {
    from { margin-top: 150px;}
    to {}
}

#img1 { background-image: url("../images/mobile/slider/berries4.jpg"); }
#img2 { background-image: url("../images/mobile/slider/berries1.jpg"); }
#img3 { background-image: url("../images/mobile/slider/berries2.jpg"); }
#img4 { background-image: url("../images/mobile/slider/berries3.jpg"); }

/********** SERVICES***************/
.section-header {
  margin-top: 80px;
  margin-bottom: 60px;
  font-family: 'Poppins', sans-serif;
  font-size: 30px;
  font-weight: 800;
  color: #8cc541;
  text-align: center;
  text-shadow: 1px 1px 0px #fff; }
#services {
  width: 98%;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-justify-content: space-around;
  -ms-flex-pack: justify;
  justify-content: space-around;
  margin: 0 auto;
  background-color: #efefef;
  -webkit-box-shadow: 1px 1px rgba(0, 0, 0, 0.08);
  -moz-box-shadow: 1px 1px rgba(0, 0, 0, 0.08);
  box-shadow: 2px 2px rgba(0, 0, 0, 0.08); }
.services-item {
  width: 300px;
  text-align: center;
  margin: 50px auto 0 auto;}
.services-item-header {
  -webkit-box-shadow: 1px 1px rgba(0, 0, 0, 0.08);
  -moz-box-shadow: 1px 1px rgba(0, 0, 0, 0.08);
  box-shadow: 1px 1px rgba(0, 0, 0, 0.08); }
.service-icon {
  width: 60px;
  height: 60px;
  float: left;
  background-color: #8cc541;
  border-top-left-radius: 30px;
  text-align: center; }
.service-icon i {
  line-height: 70px; }    
.service-header {
  float: right;
  width: 79%;
  text-align: center;
  background-color: #fff; 
  color: #555;
  font-size: 20px;
  font-weight: 700;
  line-height: 60px;}
.service-description {
  font-size: 18px;
  color: #333;
  font-weight: 400;
  margin: 30px 0px 40px 5px;
  width: 98%;
  text-align: justify;
  background-color: #efefef;  }
/********** CATALOG ************/
#catalog {
  width: 100%; }
.catalog-section-header h2{
  margin-top: 80px;
  margin-bottom: 50px;
  font-family: 'Poppins', sans-serif;
  font-size: 30px;
  font-weight: 800;
  color: #8cc541;
  text-align: center;
  text-shadow: 1px 1px 0px #fff;
}
/********** PRODUCT CATALOG ************/
.catalog-products-gallery {
  margin: 0 auto;
  width: 99%; 
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-around; }
.product {
  height: 530px;
  width: 100%;
  background-color: rgba(250, 250, 250, 0.9);
  text-align: center;
  padding: 5px;
  cursor: pointer;
  margin: 20px auto 20px auto;
  -webkit-box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
  -moz-box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19); }
.product-header h3 {
  font-family: 'Poppins', sans-serif;
  font-size: 30px;
  font-weight: 800;
  color: #6654a3;
  text-align: center;
  margin: 20px 0 0 0;
  text-shadow: 1px 1px 1px #ffffff; }
.product-header-description {
  margin: 0 0 20px 0;
  font-size: 16px;
  color: #333;
  font-style: italic; }
.product-image img {
  width: 300px;
  height: 300px;
  margin: 0 auto;
  border: 1px solid #eee;
  -webkit-box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2), 0 1px 2px 0 rgba(0, 0, 0, 0.19);
  -moz-box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2), 0 1px 2px 0 rgba(0, 0, 0, 0.19);
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2), 0 1px 2px 0 rgba(0, 0, 0, 0.19); }
.product-image-placeholder {
  height: 100%;
  width: 100%; }
.product-description p {
    font-style: italic; }
/***********ABOUT US***************************/
#about {
  width:100%; }
#about .img_prlx {
  width: 100%;
  height: 400px;
  background-attachment: fixed, scroll;
  background-image: url("../images/mobile/about_background_860.jpg");
  -webkit-background-size: cover;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  overflow: hidden; }
  #about .img_prlx .trans_background {
    width: 90%;
    margin: 65px auto 0 auto;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 20px 15px 10px 15px; }
    #about .img_prlx .trans_background h2 {
      text-align: center;
      font-family: 'Poppins', sans-serif;
      font-size: 22px;
      color: #6654a3;
      font-weight: 500;
      margin-bottom: 30px;
      text-shadow: 0 1px 0 #fff; }
/*********** GALLERY******************/
#photogallery {
  width: 100%;
  padding: 1px 0 20px 0;
  background-color: #efefef;
  text-align: center; }
  
  #photogallery #gallery {
    list-style-type: none;
    margin: 0 auto;
    min-width: 300px;
    padding: 0; }
    #photogallery #gallery li {
      display: inline-block;
      width: 150px;
      margin: 5px auto;
      text-align: center; }
      #photogallery #gallery li img {
        width: 100%;
        margin: 5px auto;
        background-color: white;
        padding: 1px; }

/* Preload images */
body:after {
  content: url(../images/lightbox2/close.png) url(../images/lightbox2/loading.gif) url(../images/lightbox2/prev.png) url(../images/lightbox2/next.png);
  display: none; }
body.lb-disable-scrolling {
  overflow: hidden; }
.lightboxOverlay {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 9999;
  background-color: black;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80);
  opacity: 0.8;
  display: none; }
.lightbox {
  position: absolute;
  left: 0;
  width: 100%;
  z-index: 10000;
  text-align: center;
  line-height: 0;
  font-weight: normal; }
.lightbox .lb-image {
  display: block;
  height: auto;
  max-width: inherit; }
.lightbox a img {
  border: none; }
.lb-outerContainer {
  position: relative;
  background-color: white;
  *zoom: 1;
  width: 250px;
  height: 250px;
  margin: 0 auto; }
.lb-outerContainer:after {
  content: "";
  display: table;
  clear: both; }
.lb-container {
  padding: 4px; }
.lb-loader {
  position: absolute;
  top: 43%;
  left: 0;
  height: 25%;
  width: 100%;
  text-align: center;
  line-height: 0; }
.lb-cancel {
  display: block;
  width: 32px;
  height: 32px;
  margin: 0 auto;
  background: url(../images/lightbox2/loading.gif) no-repeat; }
.lb-nav {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 10; }
.lb-container > .nav {
  left: 0; }
.lb-nav a {
  outline: none;
  background-image: url("data:image/gif;base64,R0lGODlhAQABAPAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="); }
.lb-prev, .lb-next {
  height: 100%;
  cursor: pointer;
  display: block; }
.lb-nav a.lb-prev {
  width: 34%;
  left: 0;
  float: left;
  background: url(../images/lightbox2/prev.png) left 48% no-repeat;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
  -webkit-transition: opacity 0.6s;
  -moz-transition: opacity 0.6s;
  -o-transition: opacity 0.6s;
  transition: opacity 0.6s; }
.lb-nav a.lb-prev:hover {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  opacity: 1; }
.lb-nav a.lb-next {
  width: 64%;
  right: 0;
  float: right;
  background: url(../images/lightbox2/next.png) right 48% no-repeat;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
  -webkit-transition: opacity 0.6s;
  -moz-transition: opacity 0.6s;
  -o-transition: opacity 0.6s;
  transition: opacity 0.6s; }
.lb-nav a.lb-next:hover {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  opacity: 1; }
.lb-dataContainer {
  margin: 0 auto;
  padding-top: 5px;
  *zoom: 1;
  width: 100%;
  -moz-border-radius-bottomleft: 4px;
  -webkit-border-bottom-left-radius: 4px;
  border-bottom-left-radius: 4px;
  -moz-border-radius-bottomright: 4px;
  -webkit-border-bottom-right-radius: 4px;
  border-bottom-right-radius: 4px; }
.lb-dataContainer:after {
  content: "";
  display: table;
  clear: both; }
.lb-data {
  padding: 0 4px;
  color: #ccc; }
.lb-data .lb-details {
  width: 85%;
  float: left;
  text-align: left;
  line-height: 1.1em; }
.lb-data .lb-caption {
  font-size: 13px;
  font-weight: bold;
  line-height: 1em; }
.lb-data .lb-number {
  display: block;
  clear: left;
  padding-bottom: 1em;
  font-size: 12px;
  color: #999999; }
.lb-data .lb-close {
  display: block;
  float: right;
  width: 30px;
  height: 30px;
  background: url(../images/lightbox2/close.png) top right no-repeat;
  text-align: right;
  outline: none;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=70);
  opacity: 0.7;
  -webkit-transition: opacity 0.2s;
  -moz-transition: opacity 0.2s;
  -o-transition: opacity 0.2s;
  transition: opacity 0.2s; }
.lb-data .lb-close:hover {
  cursor: pointer;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  opacity: 1; }
/********** FOOTER ************/
footer {
  background-color: #6654A3;
  padding-top: 80px;
  padding-bottom: 80px;
  color: #fff;
  text-align: center;display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-around;
  padding-bottom: 0; }
.footer-item {
  width: 90%;
  margin-bottom: 80px;
  max-width: 200px;
  height: auto;
  cursor: pointer;
  padding: 20px; }
.footer-item a {
  color: #fff;
  text-decoration: none; }
.footer-item .icon-block {
  margin-bottom: 20px;
}
.footer-item .contact-info p {
  font-size: 16px; }
#location { width: 100%; }
.copyright {
  background-color: #333;
  color: white;
  font-size: 10px;
  text-align: center;
  height: 32px;
  line-height: 32px; }
 
@media screen and (min-width: 861px) {
  body {
  padding-top: 130px; }
  /**********  HEADER **********/
  header {
      height: 150px; }
  .nav-up {
      top: -150px; }
  #top-contacts-bar {
      display: block;}
  /********** HEADER - LOGO ************/
  #logo {
    width: 200px;
    height: 110px;
    margin-left: 40px; }
  #logo a img {
    width: 200px; }
  /********** HEADER - MAIN NAVIGATION ************/
  #main_header nav {
    width: 450px;
    float: right;
    clear: none;}
  #main_header nav li {
    display: inline-block;
    margin-left: 14px; }
  #main_header nav li:hover{
      background-color: transparent; }
  #main_header #menu_collapsed {
    display: none; }
  #main_header .active { display: block; }
  #main_header nav .invisible {
    display: none;
  }
  
  /*********  SLIDER **********/
  #slider {
      height: 720px; }
  #slider .content {
    text-align: center;
    margin-top: 250px;
    width: 600px;
    min-height: 300px;
    margin: 250px auto 0 auto;
    font-style: italic; }
  #slider .content h1 {
    font-size: 56px;
    font-weight: 500; }
  @keyframes slidercontent {
  from { margin-top: 280px;}
  to {}
  }
   #catalog  {
    min-width: 860px;
    max-width: 1360px;
    margin: 0 auto; }
  .catalog-section-header h2{
    font-size: 45px; }
  /********** SERVICES ***********/
  .section-header {
    font-size: 45px; }
  #services {
      max-width: 1300px; }
  .services-item {
    margin: 50px 50px 0 50px;
  }
  /********** CATALOG ************/
  .product {
    width: 380px;
    height: 600px; }
  .product-image img {
    width: 360px;
    height: 360px;
    margin: 0 auto; }
  .product-header h3 {
    font-family: 'Poppins', sans-serif;
    font-size: 30px; }
  #img1 { background-image: url("../images/desktop/slider/berries4_1920.jpg"); }
  #img2 { background-image: url("../images/desktop/slider/berries1_1920.jpg"); }
  #img3 { background-image: url("../images/desktop/slider/berries2_1920.jpg"); }
  #img4 { background-image: url("../images/desktop/slider/berries3_1920.jpg"); }
  /***********ABOUT US**********/
  #about { margin-top: 100px; }
  #about .img_prlx {
    height: 500px;
    background-image: url("../images/desktop/about_background_1680.jpg");
    -webkit-background-size: cover;
    background-size: cover;
  }
  #about .img_prlx .trans_background {
    margin-top: 100px;
    width: 600px;
    padding: 40px; }
  #about .img_prlx .trans_background h2 {
    font-size: 30px;
    font-weight: 800; }
  /************* GALLERY **********/
  #photogallery #gallery {
    width: 100%; }
  #photogallery #gallery li {
    width: 20%; }
  /********* FOOTER **************/ 
  footer {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-justify-content: space-around;
    -ms-flex-pack: justify;
    justify-content: space-around;
    padding-bottom: 0; }     
  .footer-item {
    width: 150px;
    height: auto;
    cursor: pointer;
    padding: 20px; }

    /*********  Ukrainian Version ***********/

    .ukr #main_header nav {
      width: 500px;
    }

    .ukr .slide .content {
      font-family: 'Open Sans', Arial, Helvetica, sans-serif;
    }

    .ukr #slider .content h1 {
      font-weight: 700;
    }
  
}